    <footer class="site-footer clearfix">
        <div class="container">
            <div class="container-footer">
                {{#get "tags" limit="all" include="count.posts"}}
                    {{#if tags}}
                    <div class="tags-col {{^if @labs.subscribers}}no-subscribe-form{{/if}}">
                        <h3>{{t "Tags"}}</h3>
                        <ul class="tags">
                            {{#foreach tags}}
                                {{#if count.posts}}
                                    <li>
                                        <a href="{{url}}">{{name}}</a>
                                    </li>
                                {{/if}}
                            {{/foreach}}
                        </ul>
                    </div>
                    {{/if}}
                {{/get}}
                {{#if @labs.subscribers}}
                <div class="newsletter-col">
                    <h3>{{t "Newsletter"}}</h3>
                    {{subscribe_form placeholder=(t "Your email address")}}
                </div>
                {{/if}}
            </div>
            <div class="social">
                {{#if @blog.facebook}}
                    <a href="{{facebook_url}}" class="facebook" title="{{@blog.facebook}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                {{/if}}
                {{#if @blog.twitter}}
                    <a href="{{twitter_url}}" class="twitter" title="{{@blog.twitter}}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                {{/if}}
            </div>
            <div class="copyright">{{t "Copyright"}} &copy; {{date format="YYYY"}}, <a href="{{@blog.url}}">{{@blog.title}}</a>. {{t "All Right Reserved"}}.</div>
        </div>
    </footer>