{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="content" class="content content-inner" role="main">
    <article class="{{post_class}}">
        <h1 class="post-title">{{title}}</h1>
        {{#if feature_image}}
            <div class="content-holder">
                <img src="{{img_url feature_image}}" alt="{{title}}" class="rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
            </div>
        {{/if}}
        <section class="post-content">
            {{content}}
        </section>
    </article>
</main>

{{/post}}
